@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

  $dark: #5B4350;
  $light: #FCD995;
  $white: #FFF8EB;
  $pink: #CE7E7D;
  

  
body{
  font-family: georgia, serif;
  font-style: italic;
  background-color: $dark;
}

.container{
  height: 400px;
}
/* -- Nav bar -- */
#nav{
    background-color: #5B4350;
    font: georgia;
    color:$white;
};
.navbar-brand{
  color: $light;
  font-weight: bold;
  padding-left: 20px;
};

#navbarText,
.nav-link{
  color: $white;
  float: right; 
};

.nav-item,
.custom,
a{
  color: $light;
};

#credentials{
  font-size: 13pt;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}
/* -- Carousel -- */

.carousel{
  width: 100%;
  height: auto;
}

.carousel-caption{
  padding-top: auto;
  padding-bottom: 300px;
}

.boton{
  border-radius: 0;
  background-color: $light;
  color: $dark;
  padding: 15px 100px !important;
  font-size: 30px !important;
  opacity: 1;
  font-style: italic;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  border: none;
}

.boton:hover {
  border-radius: 0;
  background-color: $light;
  color: $dark;
  padding: 15px 100px !important;
  font-size: 30px !important;
  opacity: .7;
  font-style: italic;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  border: none;
}

#slide3{
  color: $dark;
}
.boton-2{
  border-radius: 0;
  background-color: $pink;
  color: $white;
  padding: 15px 100px !important;
  font-size: 30px !important;
  opacity: 1;
  font-style: italic;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  border: none;
}

.boton-2:hover{
  border-radius: 0;
  background-color: $pink;
  color: $white;
  padding: 15px 100px !important;
  font-size: 30px !important;
  opacity: .7;
  font-style: italic;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  border: none;
}

#slide3 h1{
  color: $dark;
}