body{
  font-family: georgia;
  font-style: italic;
}
.container{
  height: 400px;
}
/* -- Nav bar -- */
#nav{
    background-color: #5B4350;
    font: georgia;
    color:white;
}
.navbar-brand{
  color:#FCD995;
  font-weight: bold;
  padding-left: 20px;
}

#navbarText .nav-link{
  color: white;
  float: right; 
}

.yellow-font ul li a{
  color:#FCD995;
}

#credentials{
  font-size: 13pt;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}
/* -- Carousel -- */

carousel-inner {
  height: 500px;
}