body{
  font-family: georgia;
  font-style: italic;
}
.container{
  height: 400px;
}
/* -- Nav bar -- */
#nav{
    background-color: #5B4350;
    font: georgia;
    color:white;
}
.navbar-brand{
  color:#FCD995;
  font-weight: bold;
  padding-left: 20px;
}

#navbarText .nav-link{
  color: white;
  float: right; 
}

.nav-item .yellow{
  color:#FCD995;
}

#credentials{
  font-size: 13pt;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}
/* -- Carousel -- */

carousel-inner {
  height: 500px;
}

<<<<<<< Updated upstream
.boton-2{
  border-radius: 0;
  background-color: #CE7E7D;
  color: #FFF8EB;
  padding: 15px 100px !important;
  font-size: 30px !important;
  transition: all 0.3s ease 0s;
  border: none;
  font-style: italic;
  font-weight: bold;
}

.boton-2:hover {
  border-radius: 0;
  background-color: #C25D5C;
  color: #FFF8EB;
  padding: 15px 100px !important;
  font-size: 30px !important;
  transition: all 0.3s ease 0s;
  border: none;
  font-style: italic;
  font-weight: bold;
}

#slide3 h1{
  color: #5B4350 !important;
}

.card, .btn, .form-control {
   border-radius: 0; 
   background-color: #FCD995;
   color:#5B4350;
  }

/* -- Media queries -- */
@media screen and (max-width: 1000px){
  boton{
    padding: 15px 50px !important;
    font-size: 20px !important;
  }
  boton:hover{
    padding: 15px 50px !important;
    font-size: 20px !important;
  }
}

/* Sign up */

/* body .signup{
  /* background: url(../images/fotos_signup.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
} */

.tittle-signup h1{
  margin-top: 50px;
  color: #FCD995 ;
}

.container .sign-up{
  margin: 100px;
  /* width: 100%;
  height: auto; */
}

.container .sign-up img{
  width: 80%;
  height: auto;
}

.sign-up-form{
  color: #FFF8EB;
  float:right;
  border:none;
  vertical-align: center;
  width: 100%;
  margin-top: 90px;
  margin-left: 15px;
}
.sign-up .form-group label{
  color: #EAC06E !important;
  font-weight: bold;
  font-size: 20px;
}



.sign-up .form-group input{
  background-color: #5B4350 !important;
  color: #FFF8EB !important;
  border:none;
  border-radius: 30px !important;
  size: 50px, 20px;
  width: 100%;
}

.sign-up .rectangle {
  height: 24px;
  width: 141px;
  position: absolute;
  margin-top: -50px;
  margin-left: -10px;
  background-color: #5B4350;
  z-index: -1;
}

.sign-up .btn-custom{
  border-radius: 30px !important;
  vertical-align: center;
  background-color: #FCD995;
  color: #5B4350;
  font-size: 20px !important;
  margin: 20px, 50px !important;
  transition: all 0.3s ease 0s;
  border: none;
  font-style: italic;
  font-weight: bold;
}

.sign-up .btn-custom:hover{
  border-radius: 30px !important;
  vertical-align: center;
  background-color: #EAC06E;
  color: #5B4350;
  font-size: 20px !important;
  margin: 50px !important;
  transition: all 0.3s ease 0s;
  border: none;
  font-style: italic;
  font-weight: bold;
}

/*VHS*/

.VHS{
  background-color:#EAC06E;
}



.VHS .rectangle {
  height: 24px;
  width: 141px;
  position: absolute;
  margin-top: -50px;
  margin-left: -10px;
  background-color: #5B4350;
  z-index: -1;
}

