body{
  font-family: georgia;
  font-style: italic;
}
/* -- Nav bar -- */
#nav{
    background-color: #5B4350;
    font: georgia;
    color:white;
}
.navbar-brand{
  color:white;
  font-weight: bold;
}

#navbarText .nav-link{
  color: white;
  float: right; 
}

#active a{
  font-weight: bold;
  opacity:1;
}
#credentials{
  font-size: 13pt;
  font-weight: bold;
  padding-left: 10px;
}
/* -- Carrousel -- */
